.contact-container{
    padding: 50px 20px;
    max-height: 1100px;
    margin: auto;
    animation: fadeIn 0.8s ease-in-out;
    background-color:  antiquewhite;;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 40px;
}

.contact-map iframe{
    width: 100%;
    height: 380px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.15);
}

.contact-subtitle{
    text-align: center;
    margin-bottom: 40px;
}
.contact-title{
    color: brown;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.contact-info h2{
    margin-top: 25px;
    font-size: 1.3rem;
    color: brown;
}

.contact-info p {
    margin: 6px 0 14px;
}

h2{
    color: brown;
}